.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeContainer {
  width: 200px;
  height: 300px;
  position: relative;
  margin-right: 20px;
}
